<a href="https://colab.research.google.com/github/Adarshya371-spec/21-function/blob/main/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1=[90,95,92,97,99]

In [2]:
list2=["whithatjr","coding","classes"]

In [ ]:
#SYNTAX 1:
#for repetition_var in sequence:
 # statement1
#  ....
 # statement n

In [3]:
#accessing list1 element using for loop
for elem in list1:
  print(elem)

90
95
92
97
99

In [4]:
for i in list2:
  print(i)

whithatjr
coding
classes

In [5]:
#print a range of numbers from 0 to 5
range(0,5)
print(range(0,5))

range(0, 5)

In [6]:
for b in range(0,5):
  print(b)

0
1
2
3
4

In [7]:
for c in range(0,5,2):
  print(c)

0
2
4

In [8]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1